@import "tailwindcss";

/* Tailwind CSS Breakpoints*/
/*sm	40rem (640px)	*/
/*md	48rem (768px)	*/
/*lg	64rem (1024px)	*/
/*xl	80rem (1280px)	*/
/*2xl	96rem (1536px)	*/



:root {
    --red-primary: #FF3806;
    --red-orange-gradient: linear-gradient(90deg, rgba(255, 56, 6, 1) 0%, rgba(241, 218, 98, 1) 100%);
    --gold: #C89E3E;
    --gold-gradient: linear-gradient(90deg,rgba(234, 202, 129, 1) 0%, rgba(200, 158, 62, 1) 87%);
    --gray-primary: rgba(87, 87, 86, 0.25);
    --gray-darken: #575756;
    --text-smoked: #575756;
}

html {
    font-family: museo-sans, sans-serif;
    color: var(--text-smoked);
    font-weight: 300;

}
::selection {
    background: var(--gold);
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start !important;
}
.museo-font {
    font-family: museo-sans, sans-serif;
}
.ivy-font {
    font-family: IvyPresto Display, serif;
}
.ivy-ora-font {
    font-family: IvyOra Display, serif;
}
.balboa-font {
    font-family: Balboa, serif;
}

.wrapper {
    max-width: 1422px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* DOT IN HEADER ICON CART*/
.counter-badge {
    background-color: var(--gold);
    color: #fff;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.text-gold {
    color: var(--gold);
}
.text-smoked {
    color: var(--text-smoked);
}
.bg-gold {
    background-color: var(--gold);
}
.bg-gold-gradient-skew {
    background: #F3E06B;
    background: linear-gradient(160deg,rgba(243, 224, 107, 1) 0%, rgba(200, 159, 63, 1) 100%);
}
.bg-grey-gradient-skew {
    background: #ACACAC;
    background: linear-gradient(160deg,rgba(172, 172, 172, 1) 0%, rgba(87, 87, 86, 1) 100%);
}

/* PAGE NAVIGATION  */
.nav-items {
    a {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -4px;
            left: 0;
            background-color: var(--text-smoked);
            opacity: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: opacity 0.2s ease, transform 0.3s ease;
        }
        &:hover::after {
            opacity: 1;
            transform: scaleX(1);
        }
    }
}

/* hide breathtaking designer circle on header-decor element mobile*/
.hide-designer-circle-on-mobile {
    @media (max-width: 768px) {
      .breathtaking-designer-circle {
            display: none;
        }
    }
}


.newsletter-container,
.breathtaking-desinger-container {
    position: relative;
    z-index: 1;
}

.breathtaking-desinger-container::before,
.breathtaking-desinger-container::after,
.newsletter-container::before,
.newsletter-container::after {
  display: none;
    @media (min-width: 1024px) {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 85px;
        background: #fff;
        border-radius: 100% / 100%;
        z-index: 2;
        pointer-events: none;
    }
}
.breathtaking-desinger-container:before,
.newsletter-container::before {
    top: -42.5px; /* half of height to overlap */
}

.breathtaking-desinger-container:after,
.newsletter-container::after {
    bottom: -42.5px; /* half of height to overlap */
}

/* FORM */
input, textarea {
    padding: .5rem 1rem;
    border: 1px solid var(--gold);
    border-radius: 9px;
    background: rgba(200, 158, 62, 0.13);
}
.custom-checkbox-label {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.custom-checkbox-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox-box {
    margin-top: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--gold);
    border-radius: 6px;
    background: rgba(200, 158, 62, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, border-color 0.2s;
}

.custom-checkbox-input:checked + .custom-checkbox-box {
    background: var(--gold);
    border-color: var(--gold);
}

.custom-checkbox-box svg {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
    transition: opacity 0.2s;
}

.custom-checkbox-input:checked + .custom-checkbox-box svg {
    opacity: 1;
    color: #fff;
}
/* EDITOR */
.wyswig {
    ul {
        margin-block: 4px;
        list-style: unset    ;
        li {
            margin-left: 24px;
            margin-bottom: 4px;
        }
    }
}


.striped-lines-gold {
    :first-child {
        color: var(--gold);
        font-weight: 700;
    }
}
.striped-lines-smoked {
    :first-child {
        font-weight: 700;
    }
}
/* COUNTER DOTS */
.counter-circle{
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    @media(min-width: 1024px){
        width: 58px;
        height: 58px;
        min-width: 58px;
        min-height: 58px;
        max-width: 58px;
        max-height: 58px;
    }
}

/* SMALL ACCORDION */
.small-accordions {
    /* hide default marker */
    details summary::-webkit-details-marker {
        display: none;
    }

    details summary::marker {
        display: none;
    }

    /* show plus when closed, minus when open */
    details summary .icon-minus {
        display: none;
    }

    details[open] summary .icon-minus {
        display: inline-block;
    }

    details[open] summary .icon-plus {
        display: none;
    }
}

/* BREAD CRUMBS */
.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
    align-items: center;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.separator {
    color: #666;
}

/*TABS IN PRODUCT PAGE*/
.tab-header.active {
    border-bottom: 1px solid var(--gold);
}
.tab-content.hidden {
    display: none;
}
.tab-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}
.tab-content.fade-in {
    opacity: 1;
    visibility: visible;
}
.tab-content.hidden {
    display: none;
}


/* MODAL */
dialog.centered::backdrop {
    background: rgba(0,0,0,0.6);
}
dialog.centered[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    max-width: 32rem;
    width: 90%;
    border: none;
    border-radius: 0.75rem;
    padding: 1.5rem 1.75rem;
}
