---
import Layout from '../layouts/Layout.astro';
import HeadingPrimary from "../components/HeadingPrimary.astro";
import HeadingSecondary from "../components/HeadingSecondary.astro";
import HeadingDecor from "../components/HeadingDecor.astro";
import CtaBtn from "../components/CtaBtn.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <section class="my-10 md:my-20">
        <div class="wrapper px-4 md:px-6">
            <div class="text-gold mb-10 text-center">
                <HeadingPrimary>
                    O&nbsp;PROBIOTYKACH
                </HeadingPrimary>
            </div>

            <div class="flex flex-wrap gap-y-8 mt-10 md:mt-20 md:max-w-[1200px] mx-auto">
                <div class="w-full lg:w-1/2">
                    <div class="text-gold">
                        <HeadingSecondary>
                            Co to jest płynny probiotyk
                        </HeadingSecondary>
                    </div>
                    <p class="lg:text-[24px] font-[300] mb-8">I dlaczego powinno się go brać</p>
                    <p class="font-[300]">
                        W dobie rosnącej świadomości znaczenia zdrowej mikrobioty jelitowej, pojawił się nowy sojusznik
                        naszego zdrowia – płynny postbiotyk. Stanowi on esencję naturalnej fermentacji,
                        będąc bioaktywnym
                        “eliksirem” pełnym metabolitów wytwarzanych przez dobre bakterie podczas procesu fermentacji.
                        Innymi
                        słowy, postbiotyki to nieżywe już kultury czy błonnik prebiotyczny, ale korzystne dla zdrowia
                        związki (np. krótkołańcuchowe kwasy tłuszczowe, polifenole, enzymy, peptydy) powstające “po
                        życiu”
                        bakterii probiotycznych.
                        <br>
                        <br>
                        Taka fermentacyjna esencja w formie płynnej zawiera całą paletę naturalnych substancji aktywnych
                        –
                        od kwasu masłowego i mlekowego, przez antyoksydanty, po bakteriocyny – które wspólnie wspierają
                        organizm na wielu poziomach. Płynny postbiotyk to kwintesencja natury i nauki, którą można
                        uczynić
                        elementem codziennej rutyny prozdrowotnej
                    </p>
                </div>

                <div class="w-full lg:w-1/2">
                    <img class="lg:pl-16" loading="lazy" src="/src/assets/o_probiotykach_1.png" alt="balance biotiq"/>
                </div>
    </section>
    <section class="mb-10 md:mb-20">
        <div class="wrapper">
            <div class="md:max-w-[1200px] mx-auto px-4 md:px-6">
                <div class="text-gold text-center md:mt-20 mt-10">
                    <HeadingSecondary>
                        Naturalna aktywność biologiczna
                    </HeadingSecondary>
                </div>
                <p class="lg:text-[24px] font-[300] mb-8 text-center">Esencja fermentacji w każdej kropli</p>
                <div class="wyswig">
                    Płynny postbiotyk można nazwać żywym ekstraktem z fermentacji – choć nie zawiera żywych bakterii
                    (lub
                    zawiera ich śladowe ilości), niesie ze sobą ich dobroczynne dzieło: witaminy, kwasy organiczne,
                    enzymy i
                    inne molekuły sygnałowe, które bakterie wytworzyły, przetwarzając naturalne substraty.  Te naturalne
                    metabolity cechuje wysoka biodostępność i aktywność biologiczna, gdyż zostały “przygotowane” przez
                    bakterie w formach łatwo rozpoznawalnych i wykorzystywanych przez ludzki organizm. Przykładem mogą
                    być
                    tutaj kwasy krótkołańcuchowe (np. masłowy, octowy) – powstałe w fermentacji błonnika – które
                    odgrywają
                    kluczową rolę w komunikacji na linii mikrobiom-gospodarz oraz w lokalnej regulacji procesów w
                    jelitach.
                    <br>
                    <br>
                    W odróżnieniu od wielu standardowych suplementów, płynny postbiotyk zawiera pełen bukiet takich
                    związków. Znajdziemy w nim m.in.:
                    <br>
                    <br>
                    <ul>
                        <li>
                            Krótkołańcuchowe kwasy tłuszczowe (SCFA) – np. kwas masłowy, propionowy, octowy – będące
                            paliwem dla
                            komórek jelit i mające właściwości przeciwzapalne oraz uszczelniające jelita.
                        </li>
                        <li>
                            Niższe kwasy organiczne (np. mlekowy) – sprzyjające przyjaznemu pH jelit i hamujące rozwój
                            patogenów.

                        </li>
                        <li>
                            Egzopolisacharydy i peptydy (w tym bakteriocyny) – czyli związki produkowane przez bakterie,
                            które
                            hamują szkodliwe drobnoustroje i wspierają równowagę mikrobiologiczną.
                        </li>
                        <li>
                            Witaminy z grupy B i K – wytwarzane przez bakterie probiotyczne, ważne dla metabolizmu i
                            odporności.
                        </li>
                        <li>
                            Naturalne antyoksydanty i enzymy – pomagające neutralizować wolne rodniki i stres
                            oksydacyjny.Taka
                            różnorodność składników sprawia, że płynny postbiotyk działa na wielu frontach jednocześnie,
                            zapewniając holistyczne wsparcie organizmu. Co istotne, jako produkt fermentacji jest on z
                            reguły stabilny i bezpieczny, nawet dla osób, które nie powinny przyjmować żywych bakterii
                            (np. z
                            obniżoną odpornością) – postbiotyk nie wprowadza nowych drobnoustrojów, a jedynie ich
                            korzystne efekty,
                            eliminując ryzyko infekcji przy zachowaniu prozdrowotnych korzyści.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="wrapper px-4 md:px-30 ">

            <div class="flex justify-center gap-y-4 md:gap-y-8 flex-wrap my-8 md:my-20">
                <div class="w-100 lg:w-1/2 lg:pr-12 md:mb-0">
                    <img class="" loading="lazy" src="/src/assets/o_probiotykach_2.png" alt="o probiotykach"/>
                </div>
                <div class="w-100 lg:w-1/2 text-smoked">
                    <div class="text-gold mb-4">
                        <HeadingSecondary>
                            Dla kogo są probiotyki?
                        </HeadingSecondary>
                    </div>
                    <div class="wyswig">
                        Probiotyki — szczególnie w płynnej, aktywnej formie — są polecane dla:
                        <br>
                        <br>
                        <ul>
                            <li>
                                osób z osłabioną odpornością lub częstymi infekcjami,
                            </li>
                            <li>
                                osób po antybiotykoterapii,
                            </li>
                            <li>
                                osób z problemami trawiennymi (wzdęcia, zaparcia, biegunki),
                            </li>
                            <li>
                                osób z IBS, SIBO, refluksem, wrzodami,
                            </li>
                            <li>
                                osób cierpiących na alergie, AZS, nietolerancje pokarmowe,
                            </li>
                            <li>
                                osób żyjących pod stresem lub w przewlekłym zmęczeniu,
                            </li>
                            <li>
                                osób dbających o skórę, wagę i poziom energii,
                            </li>
                            <li>
                                sportowców (regeneracja, odporność),
                            </li>
                            <li>
                                seniorów (spowolniony układ trawienny + słabsza flora bakteryjna),
                            </li>
                            <li>
                                dzieci i kobiet w ciąży (pod kontrolą lekarza, w formie łagodnej),
                            </li>
                            <li>
                                osób na dietach eliminacyjnych lub jedzących mało błonnika.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class=" my-10 md:my-20">
        <div class="flex flex-col items-center ">
            <span class="mb-4 uppercase font-[700] text-gold  text-[20px] md:text-[32px]">czy wiesz że...</span>
            <div class="flex justify-center items-center bg-gold-gradient-skew rounded-[50%] p-16 text-white  aspect-square text-[16px] md:text-[20px] leading-normal w-[310px] md:w-[375px]">
                W dobie rosnącej świadomości znaczenia zdrowej mikrobioty jelitowej, pojawił się nowy sojusznik
                naszego zdrowia – płynny postbiotyk.
            </div>
        </div>
    </section>

    <section class=" my-10 md:my-20">
        <div class="wrapper px-4 md:px-6">
            <div class="flex justify-center mb-10 md:mb-20 text-center">
                <HeadingDecor>
                    Dlaczego <span class="text-gold">płynny probiotyk</span>
                </HeadingDecor>
            </div>

            <div class="md:max-w-[900px] mx-auto mb-10 md:mb-20">
                Płynne probiotyki to nowoczesna i skuteczna forma suplementacji dobroczynnymi bakteriami. Zamiast
                zamykać mikroorganizmy w kapsułkach, dostarczamy je w ich naturalnym, aktywnym środowisku – żywym płynie
                pofermentacyjnym. Taka forma wyróżnia się zarówno większą efektywnością biologiczną, jak i atrakcyjnym
                doświadczeniem użytkownika. Poniżej wyjaśniamy, czym są płynne probiotyki i jakie mają przewagi nad
                kapsułkami, łącząc rzetelne naukowe argumenty z odrobiną lifestyle’owej filozofii wellness.
            </div>


            <div class="flex flex-wrap gap-y-10 gap-x-10 justify-center text-center mt-10 mt:my-20  md:text-[24px] leading-[30px]">
                <div class="p-8 text-gold  shadow-xl border-1 border-[color:var(--gold)] rounded-[60px] flex justify-center items-center mb-4 md:mb-0  md:min-w-[360px] min-w-[300px] md:max-w-[360px]">
                    <p>Większa <br> biodostępność <br> i&nbsp;natychmiastowe działanie</p>
                </div>
                <div class="p-8 text-gold  shadow-xl border-1 border-[color:var(--gold)] rounded-[60px] flex  justify-center items-center mb-4 md:mb-0  md:min-w-[360px] min-w-[300px] md:max-w-[360px]">
                    <p>Wyższa żywotność <br> i&nbsp;skuteczność bakterii</p>
                </div>
                <div class="p-8 text-gold  shadow-xl border-1 border-[color:var(--gold)] rounded-[60px] flex  justify-center items-center mb-4 md:mb-0  md:min-w-[360px] min-w-[300px] md:max-w-[360px]">
                    <p>Czysta forma – bez <br> kapsułki i&nbsp;zbędnych dodatków</p>
                </div>
                <div class="p-8 text-gold  shadow-xl border-1 border-[color:var(--gold)] rounded-[60px] flex  justify-center items-center mb-4 md:mb-0  md:min-w-[360px] min-w-[300px] md:max-w-[360px]">
                    <p>Synergia probiotyków <br> i&nbsp;postbiotyków</p>
                </div>
                <div class="p-8 text-gold shadow-xl border-1 border-[color:var(--gold)] rounded-[60px] flex  justify-center items-center mb-4 md:mb-0  md:min-w-[360px] min-w-[300px] md:max-w-[360px]">
                    <p>Premium styl życia <br> i&nbsp;świadoma troska <br> o&nbsp;siebie</p>
                </div>

            </div>
            <div class="flex justify-center ">
                <div class="hidden md:inline-flex mt-14">
                    <CtaBtn class="px-16 py-2 " href="/get-started" variant="primary" size="lg" target="_self">
                        Sprawdź
                    </CtaBtn>
                </div>
                <div class="md:hidden mt-12">
                    <CtaBtn class="px-16 py-2 " href="/get-started" variant="primary" size="sm" target="_self">
                        Sprawdź
                    </CtaBtn>
                </div>
            </div>
        </div>

    </section>

    <section class="my-10 md:my-20">
        <div class="wrapper px-4">
            <div class="flex justify-center mb-10 md:mb-20 text-center">
                <HeadingDecor>
                    <span class="text-gold"><span class="md:text-[90px]">11</span>  faktów</span> i mitów o&nbsp;probiotykach
                </HeadingDecor>
            </div>
            <div class="flex flex-col md:flex-row gap-5 ">
                <div class="flex-1 py-8 px-8 md:py-8 md:px-10 xl:py-15 xl:px-20 shadow-xl border-1 border-[color:var(--gold)] rounded-[60px] leading-none">
                    <div class="flex justify-center mb-5 xl:mb-10 text-center">
                        <HeadingSecondary>
                            <span class="text-gold  font-bold">FAKTY</span>
                        </HeadingSecondary>
                    </div>
                    <ul class="flex flex-col gap-6 lg:text-[20px]">
                        <li class="flex flex-col sm:flex-row text-center sm:text-left gap-2 sm:gap-4 lg:gap-10 items-center">
                            <span class="counter-circle flex justify-center items-center bg-gold-gradient-skew rounded-full text-white font-bold text-[24px] lg:text-[40px]">1</span>
                            <div class="striped-lines-gold">
                                <p>70% odporności zaczyna się w jelitach</p>
                                <p>probiotyki realnie wspierają system immunologiczny.</p>
                            </div>
                        </li>
                        <li class="flex flex-col sm:flex-row text-center sm:text-left gap-2 sm:gap-4 lg:gap-10 items-center">
                            <span class="counter-circle flex justify-center items-center bg-gold-gradient-skew rounded-full text-white font-bold text-[24px] lg:text-[40px]">2</span>
                            <div class="striped-lines-gold">
                                <p>Nie każdy probiotyk działa tak samo</p>
                                <p>liczy się ilość i jakość szczepów.</p>
                            </div>
                        </li>
                        <li class="flex flex-col sm:flex-row text-center sm:text-left gap-2 sm:gap-4 lg:gap-10 items-center">
                            <span class="counter-circle flex justify-center items-center bg-gold-gradient-skew rounded-full text-white font-bold text-[24px] lg:text-[40px]">3</span>
                            <div class="striped-lines-gold">
                                <p>Forma płynna działa szybciej niż kapsułki</p>
                                <p>bo nie trzeba jej trawić.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex-1 py-8 px-8 md:py-8 md:px-10 xl:py-15 xl:px-20 shadow-xl border-1 border-[color:var(--gold)] rounded-[60px] leading-none">
                    <div class="flex justify-center mb-5 xl:mb-10 text-center">
                        <HeadingSecondary>
                            <span class="text-smoked font-bold">MITY</span>
                        </HeadingSecondary>
                    </div>
                    <ul class="flex flex-col gap-6 mb-10 lg:text-[20px]">
                        <li class="flex flex-col sm:flex-row text-center sm:text-left gap-2 sm:gap-4 lg:gap-10 items-center">
                            <span class="counter-circle flex justify-center items-center bg-grey-gradient-skew  rounded-full text-white font-bold text-[24px] lg:text-[40px]">1</span>
                            <div class="striped-lines-gray">
                                <p>70% odporności zaczyna się w jelitach</p>
                                <p>probiotyki realnie wspierają system immunologiczny.</p>
                            </div>
                        </li>
                        <li class="flex flex-col sm:flex-row text-center sm:text-left gap-2 sm:gap-4 lg:gap-10 items-center">
                            <span class="counter-circle flex justify-center items-center bg-grey-gradient-skew  rounded-full text-white font-bold text-[24px] lg:text-[40px]">2</span>
                            <div class="striped-lines-gray">
                                <p>Nie każdy probiotyk działa tak samo</p>
                                <p>liczy się ilość i jakość szczepów.</p>
                            </div>
                        </li>
                        <li class="flex flex-col sm:flex-row text-center sm:text-left gap-2 sm:gap-4 lg:gap-10 items-center">
                            <span class="counter-circle flex justify-center items-center bg-grey-gradient-skew  rounded-full text-white font-bold text-[24px] lg:text-[40px]">3</span>
                            <div class="striped-lines-gray">
                                <p>Forma płynna działa szybciej niż kapsułki</p>
                                <p>bo nie trzeba jej trawić.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-center ">
                <div class="hidden md:inline-flex mt-14">
                    <CtaBtn class="px-16 py-2 " href="/get-started" variant="primary" size="lg" target="_self">
                        Sprawdź
                    </CtaBtn>
                </div>
                <div class="md:hidden mt-12">
                    <CtaBtn class="px-16 py-2 " href="/get-started" variant="primary" size="sm" target="_self">
                        Sprawdź
                    </CtaBtn>
                </div>
            </div>
        </div>
    </section>

    <section class="my-10 md:my-20">
        <div class="wrapper px-4">
            <div class="flex flex-col gap-4 max-w-[890px] mx-auto">
                <div class="flex justify-center mb-10 md:mb-20 text-center ">
                    <HeadingDecor>
                        Najczęściej <span class="text-gold">zadawane pytania</span>
                    </HeadingDecor>
                </div>
                <details class="border border-gold rounded-2xl overflow-hidden group">
                    <summary
                            class="bg-gold text-white w-full px-4 md:px-6 py-4 cursor-pointer flex  items-center hover:bg-gray-50 transition-colors list-none ">
                        <svg class="min-w-5  mr-2 h-5 transform rotate-[-90deg] transition-transform duration-200 group-open:rotate-0"
                             fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 9l-7 7-7-7"></path>
                        </svg>
                        <span class="font-semibold leading-none">Jaka jest różnica między probiotykiem w kapsułkach a płynnym Balance BiotiQ?</span>
                    </summary>
                    <div class="wyswig px-6 py-4 border-t border-gold">
                        <strong>Title</strong>
                        <p>Content for accordion item 1 goes here.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque dolores
                            dolorum excepturi fugiat fugit illum inventore labore laudantium, magnam, quia, quisquam
                            repellendus vitae? At ea ipsam magnam sed voluptatum.</p>
                    </div>
                </details>

                <details class="border border-gold rounded-2xl overflow-hidden group">
                    <summary
                            class="bg-gold text-white w-full px-4 md:px-6 py-4 cursor-pointer flex  items-center hover:bg-gray-50 transition-colors list-none">
                        <svg class="min-w-5 w-5 mr-2 h-5 transform rotate-[-90deg] transition-transform duration-200 group-open:rotate-0"
                             fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 9l-7 7-7-7"></path>
                        </svg>
                        <span class="font-semibold leading-none">Jak stosować Balance BiotiQ?</span>
                    </summary>
                    <div class="px-6 py-4 border-t border-gold">
                        <p>Content for accordion item 1 goes here.</p>
                    </div>
                </details>

                <details class="border border-gold rounded-2xl overflow-hidden group">
                    <summary
                            class="bg-gold text-white w-full px-4 md:px-6 py-4 cursor-pointer flex  items-center hover:bg-gray-50 transition-colors list-none">
                        <svg class="min-w-5 w-5 mr-2 h-5 transform rotate-[-90deg] transition-transform duration-200 group-open:rotate-0"
                             fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 9l-7 7-7-7"></path>
                        </svg>
                        <span class="font-semibold leading-none">Czy Balance BiotiQ można stosować przy antybiotykach lub chemioterapii?</span>
                    </summary>
                    <div class="px-6 py-4 border-t border-gold">
                        <p>Content for accordion item 1 goes here.</p>
                    </div>
                </details>
            </div>
        </div>

    </section>


</Layout>



