---
// A primary heading component
// No circle decor
// Used as a page title for example
// For custom margins use wrapper div
---
<h1 class="heading-primary ivy-font  font-medium  text-[34px] md:text-[50px] lg:text-[70px] leading-[34px] md:leading-[50px] lg:leading-[70px] ">
    <slot></slot>
</h1>
