---
// A secondary heading component
// No circle decor
// Used as a section titles
// For custom margins use wrapper div
---
<h1 class="heading-secondary ivy-font font-medium text-[24px] md:text-[38px] lg:text-[42px] leading-[24px] md:leading-[38px] lg:leading-[42px] ">
    <slot></slot>
</h1>
