---
// A secondary heading component
// With decor circle
// Used as a section titles
// For custom margins use wrapper div
import {Image} from 'astro:assets';
import decorCircleGold from '../assets/decor-circle-gold.svg';
---
<h1 class="heading-decor-circle text-smoked ivy-font w-max relative font-semibold text-[34px] md:text-[38px] lg:text-[42px] leading-[24px] md:leading-[38px] lg:leading-[42px] bg-white py-1 rounded-xl">
    <slot></slot>
    <Image src={decorCircleGold} alt="" class="breathtaking-designer-circle absolute -z-10 top-1/2 -right-3 lg:left-[95%] w-20 md:w-auto -translate-y-1/2 pointer-events-none select-none"/>
</h1>
