---

---
<div class="text-center p-2 bg-[color:var(--gold)] text-[white] text-xs md:text-lg">
    <!--some wp text-area here to style it custom ?-->
    <span class="font-semibold uppercase">darmowy poradnik </span>
    <span class="uppercase">przy każdym zamówieniu</span>
</div>
